<div class="displayTable bg-light">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Email de réinitialisation de mot de passe</h3>

      <p class="text-center">S'il vous plait, entrer l'adresse e-mail correspandante à votre compte.</p>
       <div class="formGroup">
        <input type="email" class="formControl" placeholder="Adresse e-mail" #passwordResetEmail required>
      </div>
      <p class="text-center">Un e-mail sera envoyé à votre adresse, suivez les instructions fournies pour réinitialiser votre mot de passe.</p>
     
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Confirmer" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <!--
    <div class="redirectToLogin">
      <span> <span class="redirect" routerLink="/sign-in">S'identifier</span></span>
    </div>-->

    <div class="redirectToLogin">
      <a class="text-info" routerLink="/sign-in">
        S'identifier
      </a>
    </div>


  </div>
</div>